@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

      /* HOME PAG SECTION CSS */
      .favourite-place-bg-container{
      background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1480&t=st=1665724035~exp=1665724635~hmac=7a75d6e91755f684556f08257f567f4c64a2505d3eef0fe6f7cdf497b9dc669e");
      height:100vh;
      background-size:"cover";
      padding: 35px;
      }   
      .favourite-place-main-heading{
      color:#ffffff;
      font-family:"Bree Serif";
      padding:20px;
      font-weight:"bold";
      font-size: 60px;
      }     
      .favourite-place-card{
      background-color:rgb(255, 255, 255);
      border-radius: 10px;
      padding:12px;
      margin: 15px;   
      }
      .favourite-place-heading{
      color: #141212;
      font-family: "Bree Serif";
      font-size: 45px;
      font-weight: "bold";
      }
      .favourite-place-discription{
      color: #514b4b;
      font-family:"Bree Serif";
      font-size: 15px;
      }
      .image{
      height: 150px;
      width: 120px;
      }
      /* FAVOURITE List PAGE SECTION */

      .bg-contaier-beachimage{
            background-image:url("https://img.freepik.com/premium-photo/beach-sri-lanka_219717-5524.jpg?w=1480");
            height: 100vh;
            background-size: cover;
      }
      .card-container-beach{
            background-color: aliceblue;
            border-radius: 10px;
            text-align: center;
            width: 30vw;
            padding:10px;
            position: absolute; 
            left:65%;
            top:75%;
      }
      .title-name{
            font-size: 32px;
            font-family: "roboto";
            font-weight: 500;
      }
      .title-description{
            color: black;
            font-size: 15px;
            font-family: "roboto";
      }
      .button{
            height: 36px;
            width: 136px;
            font-size: 12px;
            border-radius: 10px;
            border-width: 0px;
            color: white;
            background-color:chocolate;
      }      

       /* FAVOURITE DETAILED PAGE */
            
      .favouriteplace-bg-container{
            background-image: url("https://img.freepik.com/free-photo/empty-sea-beach-background_74190-313.jpg?w=1380&t=st=1666841744~exp=1666842344~hmac=02fa96626ea0299a0da78cc47e78dcf03e74d637f31f52dc01960ebe4f2b4dad");
            height: 100vh;
            background-size: cover;
         
            
      }
      .heading-name{
            font-size: 50px;
            font-family: 45px;
            padding:30px;
            color: rgb(68, 37, 247);
            font-weight: bold;
            font-family: "roboto";

      }
      .favouriteplace-card-container{
            margin: 60px;
      }
      .title-heading{
            font-size: 50px;
            font-family: "roboto";
            color: blue;
            padding: 20px;
            font-weight: bold;

      }
      .favourite-place-card-description{
            padding: 15px;
      }